* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin breakpoint ($breakpoint) {
    @media screen and (min-width: $breakpoint) {
        @content;
    }
}


.fondo-catalogo {
    background-image: url("../assets/img/COLON/para-puzzle1.jpg");
    background-size: contain;
    background-position: center;
    z-index: 0;
    position: absolute;
    height: 100vh;
    width: 100%;
    filter: blur(.5vh);
}

main {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;

    .albumes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "CDBA  SB1"
            "COLON SB2";


        .album {
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;
            height: 150px;
            width: 150px;
            overflow: hidden;



            @include breakpoint(480px) {
                height: 175px;
                width: 175px;
            }

            @include breakpoint(768px) {
                height: 200px;
                width: 200px;
            }

            @include breakpoint(1024px) {
                height: 225px;
                width: 225px;
            }

            @include breakpoint(1280px) {
                height: 250px;
                width: 250px;
            }

            img {
                opacity: .8;
                width: 100%;
                transition: all 0.3s;
            }


            a {
                position: relative;

                .supertexto {
                    position: absolute;
                    z-index: 7;
                    margin-left: auto;
                    margin-right: auto;
                    left: 0;
                    right: 0;
                    text-align: center;

                }

                &:hover {
                    img {

                        opacity: 1;
                    }
                }
            }
        }
    }

    #CDBA {
        grid-area: CDBA;
        background-color: red;
        border-radius: 20px 0 0 0;

        img {
            border-radius: 20px 0 0 0;
        }

    }

    #SB1 {
        grid-area: SB1;
        background-color: green;
        border-radius: 0 20px 0 0;
        align-items: flex-start;
        

        img {  
            
            border-radius: 0 20px 0 0;
        }
    }

    #COLON {
        grid-area: COLON;
        background-color: yellow;
        border-radius: 0 0 0 20px;

        img {
            border-radius: 0 0 0 20px;
        }
    }

    #SB2 {
        grid-area: SB2;
        background-color: blueviolet;
        border-radius: 0 0 20px 0;

        img {
            border-radius: 0 0 20px 0;
        }
    }

    #Salidas {
        display: none;
        position: absolute;
        top: 35vh;
        background-color: gray;
        z-index: 1;
        border-radius: 20px;

        img {
            border-radius: 20px;
        }
    }

}