* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin breakpoint ($breakpoint) {
    @media screen and (min-width: $breakpoint) {
        @content;
    }
}



.fondo-catalogo {
    background-image: url("../assets/img/COLON/para-puzzle1.jpg");
    background-size: contain;
    background-position: center;
    z-index: 0;
    position: absolute;
    height: 100vh;
    width: 100%;
    filter: blur(.5vh);

}

main {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: 1;



    .albumes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "CDBA  SB1"
            "COLON SB2";

        .album {
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 0;
            height:120px;
            width: 120px;
            overflow: hidden;

            @include breakpoint(480px) {
                height: calc(150px + 5vw);
                width: calc(150px + 5vw);
            }

            @include breakpoint(768px) {
                height: calc(150px + 5vw);
                width: calc(150px + 5vw);
            }

            @include breakpoint(1024px) {
                height: calc(150px + 10vh);
                width: calc(150px + 10vh);
            }

            @include breakpoint(1280px) {
                height: calc(150px + 15vh);
                width: calc(150px + 15vh);
            }



            a {
                text-decoration: none;
                color: white;
                position: relative;
                transition: all 0.3s;

                .supertexto {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: rgba(0, 0, 0, .6);
                    opacity: 0;
                    transition: opacity 0.3s;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    h2 {
                        text-align: center;
                        font-family: "Sofia Sans", cursive;
                        font-size: 300%;
                    }

                    p {
                        text-align: center;
                    }
                }

                img {
                    position: relative;
                    opacity: 1;
                    width: 100%;
                    transition: all 0.3s;
                    z-index: 0;
                }


                &:hover {
                    .supertexto {
                        visibility: visible;
                        opacity: 1;
                    }

                    img {
                        transform: scale(1.1);
                        filter: blur(.5vh);
                    }
                }
            }
        }
    }

    #CDBA {
        grid-area: CDBA;
        border-radius: 20px 0 0 0;

        img {
            border-radius: 20px 0 0 0;
        }

    }

    #SB1 {
        grid-area: SB1;
        border-radius: 0 20px 0 0;


        img {

            border-radius: 0 20px 0 0;
        }
    }

    #COLON {
        grid-area: COLON;
        border-radius: 0 0 0 20px;

        img {
            border-radius: 0 0 0 20px;
        }
    }

    #SB2 {
        grid-area: SB2;
        border-radius: 0 0 20px 0;

        img {
            border-radius: 0 0 20px 0;
        }
    }

    #Salidas {
        display: none;
        position: absolute;
        top: 35vh;
        background-color: gray;
        z-index: 1;
        border-radius: 20px;

        img {
            border-radius: 20px;
        }
    }

}